/*Header*/
.body-header{
    height: 8vh;
    width: 100vw;
    background-color: #ffff;
    border-bottom: 5px solid red;
    padding-top: 25px;
}

.logo{
    width: 130px;
    height: 40px;
    display: block;
    margin: 0px auto;
}

@media (min-width: 400px){
    .logo{
        width: 130px;
        height: 40px;
        margin: 0px;
    }
}

/*Elemento*/
.elemento-body{
    margin: 40px;
}

.img-body-elemento{

}

.img-elemento{
    width: 130px;
    height: 40px;
    display: block;
    margin: 0px auto;
}

.texto-body-elemento{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-elemento{
    color: white;
    font-size: 22px;
}

@media (min-width: 400px){
    .elemento-body{
        width: 25%;
    }
    
    .texto-body-elemento{
        justify-content: center;
        align-items: center;
        width: 100%;
        word-break:break-all;
    }

    .text-elemento{
        width: 100px;
    }

}

/*Formulario*/
.form-body{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ffffff;
}

.title-form{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-form{
    height: 25px;
    width: 97%;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid;
}

.btn-form{
    background-color: #1e4a6a;
    color:#ffffff;
    padding: 10px 24px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
}

@media (min-width: 400px){
    .form-body{
        width:800px;
        padding:16px;
        border-radius:10px;
    }
    .input-form{
        height: 30px;
        width: 97%; 
    }
    .btn-form{
        width: 98%;
    }
    
    
}

/*Footer*/
.footer-body{
    height: 12vh;
    width: 100vw;
    background-color: #1e4a6a;
   
}

.footer-master{
    padding-top: 30px;
}

.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title{
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.footer-year{
    font-size: 10px;  
    display: block;
    color: white; 
}